#download {

    /*box definition*/
    position: relative;
    top: -80px;
    width: auto;
    height: 60px;

    /*box arrangement*/
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 1024px) {
    #download {
        display: inline-block;
        top: 0px;
        order: 3;
    }
}



#download button {
    
    /*box definition*/
    border: none;
    width: 280px;
    height: 56px;

    /*making box beautiful*/
    border-radius: 20px;
    background: linear-gradient(90deg, #3b164d 0%, #3e73b2 100%);
    box-shadow: 0px 6px 3px;


    /*arrangement of download img and tex*/
    display: flex;
    justify-content: center;
    align-items: center;
}


#download button span {
    font-size: 40px;
    margin-right: 10px;
    color: white;
}

#download button p {
    font-size: 32px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

@media (hover: hover) and (pointer: fine) {
    #download button:hover {
        box-shadow: 0px 6px 5px;
    }
}

#download button:active {
    transform: scale(0.99, 0.99);
    box-shadow: 0px 4px 3px;
}


#downloading {
    width: max-content;
    white-space: nowrap;
    background-color: grey;
    padding: 5px;

    border-radius: 10px;
    box-shadow: 0px 0px 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 0 auto; /*arranges the div in middle somehow*/
    
    position: relative;
    top: -40px;

    opacity: 0;
}
@media (min-width: 1024px) {
    #downloading {
        top: 0px;
        position: static;
    }
}


@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1; /* Fully visible at 1s */
    }
    90% {
        opacity: 1; /* Holds visibility until 4s */
    }
    100% {
        opacity: 0; /* Fully faded out at 5s */
    }
}

.fade-in-out-active {
    /* 5s total duration: 1s fade in (20%), 3s hold (60%), 1s fade out (20%) */
    animation: fadeInOut 4s ease-in-out forwards; 
}
