.site-wrapper {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1 0 auto; /* Forces the footer to the bottom, allowing it to push up/down */
}

#footers {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px; /*to make it somehow in middle*/
    margin-top: 32px;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: space-around;
    align-items: start;

    background-color: white;
    border-top: 1px solid rgba(0,0,0,0.5);
}

#footers a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;

    display: inline-flex;
    align-items: center;
    gap: 3px;
}


#youtube:hover {
    color: red;
}
#facebook:hover {
    color: blue;
}
#whatsapp:hover {
    color: green;
}

.footer {
    padding: 2px;
}

