#footers {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px; /*to make it somehow in middle*/
    margin-top: 20px;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: white;
    border-top: 1px solid rgba(0,0,0,0.5);
}

#footers a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;

    display: inline-flex;
    align-items: center;
    gap: 3px;
}

.footer {
    padding: 2px;
}

